In [23]:
import pandas as pd
import numpy as np
import os

In [24]:
# set output path for txt file
output_path = os.path.join("Analysis", "budget_result.txt")

# Read in csv file and view dataframe

budget_data= pd.read_csv("Resources/budget_data.csv")

budget_data

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [7]:
# View data types

budget_data.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [9]:
# define total_months in the dataframe

total_months = len(budget_data["Date"])
total_months

86

In [18]:
# define total profit and loss for the timeframe

total = budget_data["Profit/Losses"].sum()
total

22564198

In [27]:
# create a column to track the changes in profit/loss over the timeframe

budget_data['Change'] = budget_data["Profit/Losses"].diff()

budget_data

      Date  Profit/Losses     Change
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [30]:
# set variable for average change in profit/loss

average_change = budget_data['Change'].mean().round(2)
average_change

-8311.11

In [22]:
# Define the greatest increase and decrease in profits/losses column

greatest_increase = budget_data["Change"].max()
greatest_decrease = budget_data["Change"].min()

print(greatest_increase)
print(greatest_decrease)

1862002.0
-1825558.0

In [33]:
# Define dates where greatest increase and decrease occured

greatest_increase_date = budget_data.loc[budget_data['Change'].idxmax(), "Date"]
greatest_decrease_date = budget_data.loc[budget_data['Change'].idxmin(), "Date"]

print(greatest_increase_date)
print(greatest_decrease_date)

Aug-16
Feb-14

In [35]:
# write script to run text file

with open(output_path, 'w') as output_file:
    print("Financial Analysis", file = output_file)
    print("------------------------------", file = output_file)
    print(f"Total Months: {total_months}", file = output_file)
    print(f"Total: ${total}", file = output_file)
    print(f"Average Change: ${average_change}", file = output_file)
    print(f"Greatest Increase in Profits: {greatest_increase_date} ${greatest_increase}", file = output_file)
    print(f"Greatest Decrease in Profits: {greatest_decrease_date} ${greatest_decrease}", file = output_file)